# Auth
NEXTAUTH_URL=https://example.com
NEXTAUTH_SECRET=<nextauth-secret>

# Google
NEXT_PUBLIC_GOOGLE_MAP_API=API_KEY
NEXT_PUBLIC_GOOGLE_MAP_ID=awejq4h231ifh

# App Config
PUBLIC_URL=https://example.com
ROOT_DOMAIN=example.com
NEXT_PUBLIC_ALLOW_PUBLIC_PROPERTIES=false

# Back-end link
STRAPI_ENDPOINT=https://example.com

# Sentry
NEXT_PUBLIC_SENTRY_DSN=https://xxxx@xxxx.ingest.xx.sentry.io/xxxx
NEXT_PUBLIC_SENTRY_ENV=development

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
STRIPE_MONTHLY_PRODUCT_ID=prod_xxxxxxxxx
STRIPE_ANNUAL_PRODUCT_ID=prod_xxxxxxxxxx

# Webhooks
WEBHOOK_SIGNUP_URL=https://example.com/api/webhooks/signup
WEBHOOK_REGISTER_FOR_UPDATES=https://example.com/api/webhooks/registerforupdate
