# App config
ADMIN_JWT_SECRET=<secure-admin-jwt-secret>
API_TOKEN_SALT=<secure-api-token-salt>
APP_KEYS="<secure-key1>,<secure-key2>"
JWT_SECRET=<jwt-secret-key>
TRANSFER_TOKEN_SALT=<secure-transfer-token-salt>

# DB
DATABASE_CLIENT=postgres
DATABASE_URL=postgres://localhost:5432/database

# AWS
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_ACCESS_SECRET=<aws-access-key-secret>
AWS_ACL=private
AWS_REGION=eu-central-1
AWS_BUCKET=example.com
CDN_URL=https://example.com
CDN_ROOT_PATH=

# Currencies
FIXER_IO_API_KEY=1231241452APikawer5

# Email sender
MAILGUN_EMAIL=example@gmail.com
MAILGUN_DOMAIN=domain.region
MAILGUN_API_KEY=1734184hjcbwkrcbw1731token
NODE_ENV=development


# Front-end link
PUBLIC_FRONTEND_URL=http://example.com

# Sentry
SENTRY_DSN=https://xxxx@xxxx.ingest.xx.sentry.io/xxxx
